<?xml version="1.0" encoding="UTF-8"?>

<!--This is spring mvc config file-->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:mvc="http://www.springframework.org/schema/mvc"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context  https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/mvc  https://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <!--Service-->

    <context:component-scan base-package="apollo.spl.Service"/>


    <!--Contorller-->

    <!--提供了请求转发和 json自动转换功能， 没有这个语句则 @requestBody 无法工作报错 415-->
    <mvc:annotation-driven/>

    <context:component-scan base-package="apollo.spl.Controller"/>


    <!--Dao-->
    <context:property-placeholder location="classpath:db.properties"/>

    <bean id="dataSource" class="org.apache.ibatis.datasource.pooled.PooledDataSource">
        <property name="driver" value="${mysql1.driver}"/>
        <property name="url" value="${mysql1.url}"/>
        <property name="username" value="${mysql1.username}"/>
        <property name="password" value="${mysql1.password}"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 配置事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!--Auto add beans in dao layers which use mybatis framework-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <property name="basePackage" value="apollo.spl.Dao"/>
    </bean>

    <!--view-->

    <!--Temporarily no-->

</beans>