#content{
    min-height: 500px;
    max-height: 500px;
    display: flex;
    flex-flow: row wrap;
    overflow-y:scroll;
    overflow-x:hidden;
    margin-left: 60px;
    margin-top: 20px;

}
.item{
    margin-left: 5px;
    margin-bottom: 3px;
    margin-right: 5px;
}

.music_button{
    width: 200px;
    height: 200px;
}